# **Phase 4 - Hypothesis Testing**

- Yvon Bilodeau
- May 2022

## **Stakeholder Questions**

For each question: 
- The stakeholder has requested statistical tests to obtain mathematically-supported answers.
- They would like to know if a statistically significant difference exists for each hypothesis.
- They would like to know the p-value of the test.
- They would like a visualization that supports the findings.

## **Import Libraries**

In [6]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## **Import Data**

In [74]:
# Import TMDB data csv file for the first year
year = 2000
tmdb_results_combined_final_df = pd.read_csv(f'Data/final_tmdb_data_{year}.csv.gz')

In [75]:
tmdb_results_combined_final_df.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.4,21.0,NaN

In [76]:
# Remove the initial row which has null data
tmdb_results_combined_final_df = tmdb_results_combined_final_df.loc[1:,:]

In [77]:
# Create a list of years
years = [*range(2001, 2022, 1)]

In [78]:
# Loop through the years and append each year to the combined dataframe
for year in years:
    # Import TMDB data csv file for the current year
    current_year_df = pd.read_csv(f'Data/final_tmdb_data_{year}.csv.gz')
    # remove the initial row which has null data
    current_year_df = current_year_df.loc[1:,:] 
    # append TMDB data csv file for the current year to the combined dataframe
    tmdb_results_combined_final_df = tmdb_results_combined_final_df.append(current_year_df)

In [81]:
# Display the head and tail of the dataframe
tmdb_results_combined_final_df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.4,21.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,4.4,7.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.0,0.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.1,1859.0,PG
5,tt0118852,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.9,45.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3509,tt9895024,0.0,/S1kutYyoyuBJKGS0mXxv2fZNbr.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,834443.0,de,Heikos Welt,...,0.0,118.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Heiko's World,0.0,0.0,0.0,NaN
3510,tt9896876,0.0,/hMvRbT6HOqERhh3K8kXbaLz9LlZ.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,821493.0,en,India Sweets and Spices,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Let the aunties talk.,India Sweets and Spices,0.0,6.0,2.0,PG-13
3511,tt9898844,0.0,/q2KFBGyUSzHDhNqXEYv2LqTWVSz.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,870671.0,en,The Hunting,...,0.0,91.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hunger runs deep.,The Hunting,0.0,4.9,20.0,NaN
3512,tt9900940,0.0,/3jjWLg5bevWqReyVroYqxwVrH0k.jpg,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,861294.0,en,The Scrapper,...,0.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,You can't escape your past.,The Scrapper,0.0,6.0,2.0,NaN
3513,tt9907782,0.0,/gRTYArznK1MLAq7opC1tYHnTwM3.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 14, 'nam...",NaN,630392.0,en,The Cursed,...,4588389.0,111.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Cursed,0.0,7.0,55.0,R

In [84]:
# Save a final merged .csv.gz of all of the tmdb api data 
tmdb_results_combined_final_df.to_csv("Data/tmdb_results_combined_final_df.csv.gz", 
                                compression="gzip", 
                                index=False)

### **Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?**

### **Do movies that are over 2.5 hours long earn more revenue than movies that are 1.5 hours long (or less)?**

### **Do some movie genres earn more revenue than others?**

### **Are some genres higher rated than others?**