# **Phase 4 - Hypothesis Testing**

- Yvon Bilodeau
- May 2022

## **Stakeholder Questions**

For each question: 
- The stakeholder has requested statistical tests to obtain mathematically-supported answers.
- They would like to know if a statistically significant difference exists for each hypothesis.
- They would like to know the p-value of the test.
- They would like a visualization that supports the findings.

## **Import Libraries**

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.types import *
from sqlalchemy_utils import create_database, database_exists
from sqlalchemy import create_engine

from scipy import stats
## Post Hoc
from statsmodels.stats.multicomp import pairwise_tukeyhsd

## **SQL**

### **User Name and Password**

In [2]:
# Obtain the MySQL login username and password
with open('C:/Users/DELL/.secret/mysql_keys.json') as f:
    login = json.load(f)
# Display the MySQL login keys
login.keys()

dict_keys(['username', 'password'])

### **Connection**

In [3]:
# Create a connection string using credentials following this format:
# connection = "dialect+driver://username:password@host:port/database"
database_name = "Movies"
connection_str = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/{database_name}"

### **Create the Engine**

In [4]:
# Create an instance of the sqlalchemy Engine Class 
engine = create_engine(connection_str)

### **Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates?**

#### **State your Null Hypothesis and Alternative Hypothesis**

- **H0 Null Hypothesis** 
 - _No statistical significance exists._
 - The MPAA rating of a movie (G/PG/PG-13/R) does not affect how much revenue the movie generates.


- **HA Alternate Hypothesis**
 - _A statistical significance exists. The null hypothesis is rejected and the alternative is supported that..._
 - The MPAA rating of a movie (G/PG/PG-13/R) does affect how much revenue the movie generates.

#### **Select the correct test according to the data type and number of samples**

- **Datatype:**
 - _Numeric_
- **Number of Samples/Groups being compared**
 - _More than 2 samples/groups:_
   - _G_
   - _PG_
   - _PG-13_
   - _R_
- **Correct Test**
 - if parametric: 
   - _ANOVA and/or Tukey_
 - if nonparametric: 
   - _Kruskal-Wallis_ANOVA and/or Tukey_

In [5]:
# Display the first 5 rows of the table using an SQL query
q = """
SELECT revenue, certification
FROM tmdb_data
WHERE revenue > 0 AND certification IS NOT NULL
;"""
df = pd.read_sql(q, engine)

In [6]:
# Display the first (5) rows
df.head()

      revenue certification
0  76019000.0         PG-13
1   5271670.0         PG-13
2  12855000.0            PG
3   5227350.0             R
4     14904.0             R

In [7]:
groups = {}
for certification in df['certification'].unique():
    temp_df = df.loc[df['certification'] == certification, 'revenue']
    groups[certification] = temp_df
groups.keys()

dict_keys(['PG-13', 'PG', 'R', 'G', 'NR', 'NC-17', 'R ', 'PG-13 '])

In [8]:
# Remove “,” from certification
to_replace = [' ']
columns_to_update = ['certification']
for column in columns_to_update:
    for char in to_replace:
        df[column] = df[column].str.replace(char,'', regex=False)

In [9]:
groups = {}
for certification in df['certification'].unique():
    temp_df = df.loc[df['certification'] == certification, 'revenue']
    groups[certification] = temp_df
groups.keys()

dict_keys(['PG-13', 'PG', 'R', 'G', 'NR', 'NC-17'])

#### **Test the assumptions of your selected test.**

##### **Assumption - No significant outliers**

In [ ]:
for revenue, certification in groups.items():
    # Calculate the number of outliers
    outliers = np.abs(stats.zscore(data)) > 3
    print(f"{outliers.sum()} outliers were removed from the {certification} group.")
    # Remove the outliers
    groups[certification] = data.loc[~outliers]

- The outlier assumption is satisfied now that outliers have been removed.

##### **Assumption - Normality**

In [ ]:
# Loop through the groups and obtain
# group count and the pvalue of the Normal Test
norm_results = {}
for i, data in groups.items():
    stat, p = stats.normaltest(data)
    norm_results[i] = {'n': len(data),
                       'p':p}

In [ ]:
# Display a dataframe created from the norm_results dictonary and transpose it 
pd.DataFrame(norm_results).T

In [ ]:
# Create and display a dataframe created from the norm_results dictonary and transpose it 
norm_results_df = pd.DataFrame(norm_results).T
# Add a column to indicate if the group pvalue was significant or not
norm_results_df['sig?'] = norm_results_df['p'] < .05

In [ ]:
# Display the dataframe
norm_results_df

- We have large enough groups (each n>20) that we can safely disregard the assumption of normality, even though:
- The groups do NOT come from normal distributions.

##### **Assumption Equal Variance**

In [ ]:
ho = "All input samples are from populations with equal variances."
ha = "All input samples are not from populations with equal variances."
alpha = .05

In [ ]:
# Run the test and display the results
statistic, pvalue = stats.levene(*groups.values())
if pvalue < alpha:
    print(f'The p-value for the test was {pvalue}')
    print(f'It was < the alpha value of {alpha}, so')
    print(ha_desc)
    print(ha)
else:
    print(f'The p-value for the test was {pvalue}')
    print(f'It was > the alpha value of {alpha}, so')
    print(ho_desc)
    print(ho)

- The groups did not satisfy the Assumption for Variance, so we will not run the One-Way ANOVA test, we will use the Kruskal Test.

#### **Execute the selected test, or the alternative test (if you do not meet the assumptions) and**
**Interpret your p-value and reject or fail to reject your null hypothesis**

In [ ]:
ho = 'No significant difference in charges exists between regions.'
ha = 'A significant difference in charges exists between regions.'
alpha = .05

In [ ]:
# Run the test and display the results
statistic, pvalue = stats.kruskal(*groups.values())
if pvalue < alpha:
    print(f'The p-value for the test was {pvalue}')
    print(f'It was < the alpha value of {alpha}, so')
    print(ha_desc)
    print(ha)
else:
    print(f'The p-value for the test was {pvalue}')
    print(f'It was > the alpha value of {alpha}, so')
    print(ho_desc)
    print(ho)

#### **Show a supporting visualization that helps display the result**

In [ ]:
sns.barplot(data=df, x='region', y='charges', ci=68);

### **Do movies that are over 2.5 hours long earn more revenue than movies that are 1.5 hours long (or less)?**

### **Do some movie genres earn more revenue than others?**

### **Are some genres higher rated than others?**